<header class="header">
	<div class="container">
		<h2 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl }}/">			
                 <img style="width:20%; float: left" src="{{ site.baseurl }}/assets/logo/logo.png"/>
			</a>
		</h2>
                 <div class="buttons">
                     <a class="button" href="#projects" style="margin-right:5px">Projects <span id="project-button">🟠️</a> -
                     <a class="button" href="#components" style="margin-left:5px; margin-right:5px">Components</a> -
                     <a class="button" href="#modules" style="margin-left:5px; margin-right:5px">Modules</a> - 
                     <a class="button" href="#plugins" style="margin-left:5px">Plugins</a>
                 </div>
	</div>
</header>

<script>
var project_button = document.getElementById("project-button");
project_button.addEventListener("click",function(e){   
    document.location.href = "{{ site.baseurl }}/projects";
},false);
</script>
